{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block navbar-right %}
  <li><a href="/">Home</a></li>
  <li><a href="/about">About</a></li>
  <li class="active"><a href="/about">About<span class="sr-only">(current)</span></a></li>
{% endblock %}

{% block content %}
{% endblock %}

{% block js %}
  {{ block.super }}
  <script src="{% static 'js/about.js' %}"></script>
{% endblock %}
