h1 {
  margin: 0;
}

.header {
  height: 34px;
  line-height: 34px;
}

#content .row .form-inline {
  display: inline-block;
}
#content .row .form-inline {
  width: 50%;
}
#content .row .form-control {
  width: 100%;
}
#content .row button {
  margin-right: 10px;
}
#blog .header .col-md-12 {
  height: 34px;
  line-height: 34px;
}
#blog .header span {
  font-size: 24px;
  color: blue;
}

.editor {
  padding: 20px 1px;
}

#alert {
  display: block;
  width: 80%;
  margin: auto;
}
