h1 {
  margin: 0;
}

#blog .header .col-md-6.text-right {
  height: 39.2px;
  line-height: 39.2px;
}
#blog .header a,
#blog .header button {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}
