{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
<title>New Post</title>
{% endblock %}

{% block css %}
{{ block.super }}
  <link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}

{% block navbar-right %}
  <li><a href="/">Home</a></li>
  <li class="active"><a href="/blog">Blog<span class="sr-only">(current)</span></a></li>
  <li><a href="#">Sign up</a></li>
  <li><a class="edge" href="/blog/admin">Login in</a></li>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="row header">
      <div class="col-md-12"><form class="form-inline"><input type="text" class="form-control" name="title" id="title" placeholder="Title"></form><a href="/blog/" class="btn btn-success pull-right">Cancel</a><button class="btn btn-success pull-right" id="new_blog_post">Apply</button></div>
    </div>
  </div>
</div><!-- row -->

<form class="editor">
  <textarea id="elm1" name="area"></textarea>
<form>

{% endblock %}

{% block js %}
{{ block.super }}
  <script src="{% static 'tinymce/js/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'js/blog.js' %}"></script>
{% endblock %}
